/*------------------header---------------------*/

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
}

/*------------------main------------------------*/
.hero img {
  height: 454px;
  width: 100%;
  object-fit: cover;
}
